aws_region            = "us-east-1"
aws_profile           = "default"
cluster_name          = "techchallenge-cluster"
node_instance_type    = "t3.medium"
use_existing_lab_role = true
db_host               = "garage-postgres-db.c1234567890.us-east-1.rds.amazonaws.com"
db_password           = "your-db-password-here"

# New Relic Observability Credentials
newrelic_account_id   = "0"
newrelic_api_key      = "your-api-key-here"
newrelic_license_key  = "your-license-key-here"
newrelic_region       = "US"



